@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@500;600&display=swap');

$rubik: 'Rubik', sans-serif;
$inter: 'Inter', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $inter;
}

body {
    font-size: 16px;
    background: #151515;
    color: #eee;
}

button {
    font-family: $rubik;
    font-weight: 500;
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
}

main,
#history {
    background: #202020;
    width: 20rem;
    margin: 3rem auto 0;
    padding: 1.25rem;
    border-radius: .4rem;
}

main {
    h1 {
        font-family: $rubik;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    form {
        display: flex;
        flex-direction: column;

        fieldset {
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.5rem;

            .div-input {
                display: flex;
                flex-direction: column;

                label {
                    font-family: $rubik;
                    font-weight: 500;
                    color: rgb(207, 207, 207);
                    margin-bottom: .5rem;
                }

                input {
                    width: 8.1rem;
                    padding: .7rem 1rem;
                    border: none;
                    border-radius: .2rem;

                    &::placeholder {
                        color: rgb(110, 110, 110);
                    }
                }
            }
        }

        .cta {
            display: flex;
            justify-content: space-between;

            button {
                border: 1px solid;
                padding: .6rem 0;
                width: 8.1rem;

                &#calcular {
                    border-color: rgb(25, 25, 195);
                    background: rgb(25, 25, 195);
                    color: #eee;
                }


                &#reset {
                    background: none;
                    border-color: rgb(246, 160, 23);
                    color: rgb(246, 160, 23);
                }
            }
        }
    }

    #results {
        border-top: 1px solid rgb(81, 81, 81);
        opacity: 0;
        height: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out;

        h2 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }

        p {
            color: #ccc;

            &:first-of-type {
                margin-bottom: 1rem;
            }

            span {
                font-family: $rubik;
                color: #eee;
            }
        }

        &.ativo {
            height: auto;
            opacity: 1;
            visibility: visible;
            padding-top: 1rem;
            margin-top: 1.5rem;
            transition: opacity .3s ease-in-out;
        }
    }
}

#history {
    margin-bottom: 3rem;

    #showHistorico {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding: .4rem 0;
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: '';
            display: inline-block;
            border: solid currentColor;
            border-width: 0 3px 3px 0;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-right: 1rem;
            transition: transform .2s linear;
        }
    }

    .lista {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out;

        h3 {
            font-size: 1.15rem;
            text-align: center;
        }

        ul {
            list-style: none;

            li {
                color: #ccc;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgb(57, 57, 57);
                }

                p:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    &.ativo {
        #showHistorico::after {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            transition: transform .2s linear;
        }

        .lista {
            height: auto;
            opacity: 1;
            visibility: visible;
            transition: opacity .3s ease-in-out;

            h3 {
                margin: 1rem 0;
            }
        }
    }
}